
.icon-icons8-linkedin:before { content: '\e800'; } /* '' */
.icon-icons8-github:before { content: '\e801'; } /* '' */
.icon-icons8-instagram:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e805'; } /* '' */
.icon-align-justify:before { content: '\e80c'; } /* '' */
.icon-mail-1:before { content: '\e81b'; } /* '' */
.icon-play-1:before { content: '\e82b'; } /* '' */
.icon-direction-outline:before { content: '\e834'; } /* '' */
.icon-menu:before { content: '\f008'; } /* '' */
.icon-menu-2:before { content: '\f0c9'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
.icon-linkedin-2:before { content: '\f31a'; } /* '' */
